*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed h1 {
    color: aqua;
    font-size: 20px;
    padding: 20px;
}

.icon {
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
}
.icon a {
    color: aqua;
    text-decoration: none;
    padding: 20px;
}

.icon a :hover {
    color: rgb(42, 165, 108);
}
